* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $main-color-darkest;
  background-color: $main-color-light;
  color: $main-color-light;
  color: $main-color-dark;
  font-family: "Century Gothic", Futura, sans-serif;
}

ul {
  list-style-type: none;
}

li {
  padding: 0 1rem;
}

a {
  color: $main-color-light;
  color: $main-color-dark;
}