$main-color-dark: #232020;
$main-color-darkest: #181616;
$main-color-light: #FDFDFF;
$primary-color: #00ccff;

$primary-color-loss: #dd7777;
$primary-color-win: #77dd77;
$primary-color-scratch: #fad075;