
$color-light-form: #fff;
$dark-light-form: #e0e0e0;
$darker-light-form:#bdbdbd;

$color-bg:#f5f7f9;

$color-txt-light: #476282;
$color-txt-dark: #1b3a57;

$color-primary: #00A4EF;

$color-loss: #F0341B;
$color-win: #7FBA00;
$color-scratch: #FFB900;