$padding-s: 1rem .5rem;
$padding-m: 1.5rem .75rem;
$padding-l: 2rem 1rem;
$padding-xl: 2.5rem 1.75rem;

$border-s: 1px solid;
$border-m: 2px solid;
$border-l: 4px solid;
$border-xl: 8px solid;


.btn-transparent {
  background-color: transparent;
  border:none;
}

.link-action {
  background: $primary-color;
  color: $main-color-dark;
  font-weight: 900;
  padding: $padding-s;
  text-decoration: none;;
  transition: background .2s ease-in;
}

.link-action:hover {
  background-color: darken($primary-color, 20%);
}

.text-field {
  background: transparent;
  border: none;
  border-bottom: $border-m $primary-color;

  color: $main-color-light;
  padding-top: 1rem;
}

.text-field:focus {
  border-bottom: $border-m lighten($primary-color, 20%);
}

